/* Scroll suave*/
html{
    scroll-behavior: smooth;
}

/* Animaciones de agregado/eliminado */
.agregado {
  background-color: #d4edda !important; /* Verde claro */
  color: #000000 !important;
  animation: fade 1s ease-in-out;
}

.eliminado {
  background-color: #f8d7da !important; /* Rojo claro */
  color: #721c24 !important;
  animation: fade 1s ease-in-out;
}

/* HERO con imagen de fondo */
.hero {
  position: relative;
  height: 50vh; /* ajusta altura del hero */
  background-image: url('../IMG/imagen_hero.jpg'); /* tu imagen de hero */
  background-size: cover; /* hace que la imagen cubra todo el contenedor */
  background-position: center center; /* centra la imagen */
  background-repeat: no-repeat; /* evita repetición */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(12, 10, 10);
}

/* Tamaño uniforme para todas las cards de productos */
#productos .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#productos .card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

#productos .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FOOTER */
.footer {
    background: #292828;
    color: rgb(240, 231, 231);
    text-align: center;
    padding: 2rem;
}

.footer address {
    font-style: normal;
    margin-top: 1rem;
}

.footer a {
    color: #817475;
    text-decoration: none;
}