body{
  background-color:#CF8080;
}
h1,p {
  text-align:center;
  color: #592A2A;
}

.container{
  display:flex;
  background-color:black;
  width:1860px;
}

.container div{
  background-color: #944D4D;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  content: center;
}

footer {
  background: black;
  color: white;
  text-align:center;
  padding: 2rem;
  margin-top:2rem;
}

.social {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.social a{
  display: inline-flex;
  align-items:center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #CF8080;
  color:white;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 1rem;
  font-size:1.5rem;
}


 
  